.net-hide {
  .hide-label {
    cursor:pointer;
  }

  .hide-component {
    position: relative;
    display: inline-block;

    >div {
      >* {
        width: 90%;
      }
    }
    .hide-cancel {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 15%
    }
  }
}

